	/* reset styles */
html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, variable, form, fieldset, blockquote {
 padding: 0;
 margin: 0;
 font-size: 100%;
 font-weight: normal;
}


table { border-collapse: collapse; border-spacing: 0; }
td, th, caption { font-weight: normal; text-align: left; }
img, fieldset { border: 0; }
ol { padding-left: 0; border-left: 0; list-style: decimal; }
ul { padding-left: 0; border-left:0;list-style:none; }
q:before, q:after { content:''; }

/* end reset styles */


body {

	font-family: 'Raleway', sans-serif;
	font-size: 62.5%;
}

fieldset {
  width: 60%;	
	margin:0 auto;
	border: 1px solid black; 
}
input {
	display: inline-block;	
	width: 	500px;
}


fieldset.datos-personales {
	width: 	700px;
}